<!DOCTYPE html>
<html>
<head>
    <title>Registered Users</title>
</head>

<body>

    <h1>Registered Users</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>

    <a href="/">Back to Registration</a>

</body>
</html>
